<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platos principales</title>
</head>

<body>
    <main>
        <header>
            <h1>Nuestro Restó</h1>
            <h2>Carta</h2>
        </header>
        <nav>
            <ul type="none">
                <li><a href="/entradas">Entradas</a></li>
                <li><a href="/platosPrincipales">Platos principales</a></li>
                <li>Ensaladas</li>
                <li>Raws</li>
                <li><a href="/postres">Postres</a></li>
                <li>Desayuno y Meriendas</li>
                <li>Bebidas</li>
                <li>Smoothies</li>
                <li>Té y Café</li>
                <li>Vinos</li>
                <li>Cervezas</li>
            </ul>
        </nav>
        <section>
            <article>
                <h3>Platos principales</h3>
                <img src="/img/foto-postre.jpg" alt="imagen postre">
                <article>
                    <h4>Flan Casero</h4>
                    <p>Nuestro clásico flan con dulce de leche y crema</p>
                </article>
                <article>
                    <h4>Ensalada de frutas</h4>
                </article>
                <article>
                    <h4>Fondue de chocolate</h4>
                    <p>Con frutas frescas fileteadas</p>
                </article>
                <article>
                    <h4>Crocante de Banana y Nutella</h4>
                </article>
                <article>
                    <h4>Degustación de Mousses</h4>
                    <p>Mousse de mango, chocolate, moka y frutos rojos</p>
                </article>
                <article>
                    <h4>Cheesecake</h4>
                </article>
                <h4>Volver arriba</h4>
            </article>    
        </section>
        <footer>
            <img src="img/logo-web.png" alt="logo santa maría bar">
            <ul type="none">
                <li>Contacto</li>
                <li>facebook</li>
                <li>twitter</li>
                <li>Instagram</li>
            </ul>
        </footer>    
    </main>
</body>
</html>